<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('https://www.icademie.com/img/photos/retour-en-grace-du-metier-d-agent-immobilier-248-1920x1080.jpg');">
  <div class="banner-content">
    <h1>
      La première garentie des loyers impayés pour les agents immobiliers
    </h1>
    <h3 class="margin">
      Avec Cautioneo, faites bénéficier à vos équipes et vos clients
de la meilleure garantie locative du marché, sans perdre de
temps.
    </h3>
    <div class="">
      <a href="https://kitt.lewagon.com" target="_blank" class="button-banner">
        Commander mon kit Guy Hoquet
      </a>
    </div>
  </div>

</div>
  <div class="carroussel">
    <img src="images/6b.png" alt="" height="100px">
    <img src="images/6b.png" alt="" height="100px">
    <img src="images/6b.png" alt="" height="100px">
    <img src="images/6b.png" alt="" height="100px">
    <img src="images/6b.png" alt="" height="100px">
    <img src="images/6b.png" alt="" height="100px">
  </div>


