<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('http://www.myurbanr.com/wp-content/uploads/2018/04/2215_lille-20180426.jpg');">
  <div class="row">
    <div class="col-sm-8 col-offset-4 ">
    <div class="banner-content">
      <h1>
        La première garantie des loyers impayés pour les agents immobiliers
      </h1>
      <h3 class="margin">
        Cautioneo vous permet de louer plus facilement
        et de monétiser l’ensemble de vos contacts locataires.
      </h3>
      <div class="">
        <a href="https://kitt.lewagon.com" target="_blank" class="button-banner">
          Commander mon kit l'adresse
        </a>
      </div>
    </div>
    </div>
  </div>
</div>

<%= partial "layouts/carroussel" %>
