
<div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://image-store.slidesharecdn.com/70b7628a-529e-4b33-ad75-a4261523571b-original.jpeg');">

  <div class="card-description">
    <h2>"Grâce au professionnalisme et aux conseils de Cautioneo nous pouvons enfin proposer aux propriétaires et aux locataires une solution de garantie. On y gagne tous !</h2>
    <p>Lucile ARTERO – Directrice de l’Agence Marguerittes</p>
  </div>
  <!-- img class="card-user" src="https://kitt.lewagon.com/placeholder/users/tgenaitay"> -->
  <a class="card-link" href="#" ></a>
</div>


