
<div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://kitt.lewagon.com/placeholder/cities/shanghai');">

  <div class="card-description">
    <h2>"Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet sapiente qui sint doloremque accusamus animi quos ea fugiat autem reiciendis repellendus nam, error nostrum blanditiis odit aspernatur, ut consectetur est?</h2>
    <p>Victo. B</p>
  </div>
  <!-- img class="card-user" src="https://kitt.lewagon.com/placeholder/users/tgenaitay"> -->
  <a class="card-link" href="#" ></a>
</div>


