<div class="footer">
  <div class="container">
    <div class="row">

      <div class="col-xs-12 col-sm-4 footer-title">
        <div>
          <h4><strong>Cautioneo</strong></h4>
        </div>
          <p>Euratechnologies</p>
          <p>165 Avenue de Bretagne</p>
          <p>59000 Lille</p>
          <p><i class="fas fa-mobile-alt"></i>+33 (0)6 59 72 88 78</p>
          <p><i class="fas fa-envelope"></i><a  style="color: white;" href="mailto:contact@peetaya.com" title="contact@peetaya.com"> contact@cautioneo.com</a></p>
      </div>

      <div class="col-xs-12 col-sm-4">
        <div class="footer-title">

        </div>
        <br><br>
        <div class="footer-links">
      <!--     <a href="https://www.euratechnologies.com" target="_blank" class="partner-brand">
            <img id="logo" src="images/logo.png" alt="Euratechnologies logo white">
          </a> -->
        </div>
      </div>

      <div class="col-xs-12 col-sm-4">
        <div class="footer-title">

        </div>
        <div class="footer-links">
          <a href="https://www.euratechnologies.com" target="_blank" class="">
            <img id="" src="images/logo_small.png" alt="Euratechnologies logo white">
          </a>
        </div>
      </div>

    </div>
  </div>
</div>
