<div class="footer">
  <div class="container">
    <div class="row">

      <div class="col-xs-12 col-sm-4 footer-title">
        <div>
          <h4><strong>Cautioneo</strong></h4>
        </div>
          <p>Euratechnologies</p>
          <p>165 Avenue de Bretagne</p>
          <p>59000 Lille</p>
          <p><i class="fas fa-mobile-alt"></i>+33 (0)6 59 72 88 78</p>
          <p><i class="fas fa-envelope"></i><a  style="color: white;" href="mailto:contact@peetaya.com" title="contact@peetaya.com"> contact@cautioneo.com</a></p>
      </div>

      <div class="col-xs-12 col-sm-4">
        <div class="footer-title">
          <h4><strong>Suivez-nous</strong></h4>
        </div>
        <br><br>
        <div class="footer-links">
          <a href="https://www.facebook.com/peetayatravel/" target="_blank">
            <i class="fab fa-facebook fa-2x"></i>
          </a>
          <a href="https://www.instagram.com/peetayatravel/" target="_blank">
            <i class="fab fa-twitter fa-2x"></i>
          </a>
        </div>
      </div>

      <div class="col-xs-12 col-sm-4">
        <div class="footer-title">
          <h4><strong>Partenaire</stron@g></h4>
        </div>
        <div class="footer-links">
          <a href="https://www.euratechnologies.com" target="_blank" class="partner-brand">
            <img id="logo" src="https://www.euratechnologies.com/content/themes/euratechnologies/assets/img/euratechnologies-logo-white.svg" alt="Euratechnologies logo white">
          </a>
        </div>
      </div>

    </div>
  </div>
</div>
