<div class="footer">
  <div class="container">
    <div class="row">

      <div class="col-xs-12 col-sm-6 footer-title text-center">
          <a href="https://www.euratechnologies.com"  target="_blank" class="">
            <img style="margin-top: 32px;" id="" src="images/logo-type-cautioneo.png" height="45px" alt="Euratechnologies logo white">
          </a>
      </div>



      <div class="col-xs-12 col-sm-6">
        <div class="footer-title">

        </div>
        <div class="footer-links text-center">
          <a href="https://www.euratechnologies.com" target="_blank" class="">
            <img id="" src="images/logo_small.png" alt="Euratechnologies logo white">
          </a>
        </div>
      </div>

    </div>
  </div>
</div>
