<div class="footer">
  <div class="container">
    <div class="row">

      <div class="col-xs-12 col-sm-4 footer-title">
          <a href="https://www.euratechnologies.com"  target="_blank" class="">
            <img style="margin-top: 32px;" id="" src="images/logo-typo-cautioneo.png" height="40px" alt="Euratechnologies logo white">
          </a>
      </div>

      <div class="col-xs-12 col-sm-4">
        <div class="footer-title">

        </div>
        <br><br>
        <div class="footer-links">
      <!--     <a href="https://www.euratechnologies.com" target="_blank" class="partner-brand">
            <img id="logo" src="images/logo.png" alt="Euratechnologies logo white">
          </a> -->
        </div>
      </div>

      <div class="col-xs-12 col-sm-4">
        <div class="footer-title">

        </div>
        <div class="footer-links">
          <a href="https://www.euratechnologies.com" target="_blank" class="">
            <img id="" src="images/logo_small.png" alt="Euratechnologies logo white">
          </a>
        </div>
      </div>

    </div>
  </div>
</div>
