<div class="row">
<div class="text-center">
<h3><strong>Commandez Gratuitement votre kit Location Booster</strong></h3>
</div>
<form class="margin-top-50 margin-bottom-50 col-md-offset-2 col-md-8 ">
  <div class="form-group">
    <label for="exampleInputEmail1">Votre addresse e-mail</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
  </div>
  <h5><strong>Collaborateur(s) désirant recevoir le mail d’invitation à l’espace Location (tutoriels…) :</strong></h5>
  <div class="form-group">
    <div class="row">
      <div class="col-sm-4">
        <label for="exampleInputPassword1">e-mail</label>
        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="mail">
      </div>
      <div class="col-sm-4">
        <label for="exampleInputPassword1">nom</label>
        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Mathias">
      </div>
      <div class="col-sm-4">
        <label for="exampleInputPassword1">fonction</label>
        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="gestion">
      </div>
    </div>
  </div>
    <div class="form-group">
    <div class="row">
      <div class="col-sm-4">
        <label for="exampleInputPassword1">e-mail</label>
        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="mail">
      </div>
      <div class="col-sm-4">
        <label for="exampleInputPassword1">nom</label>
        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Mathias">
      </div>
      <div class="col-sm-4">
        <label for="exampleInputPassword1">fonction</label>
        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="gestion">
      </div>
    </div>
  </div>
    <div class="form-group">
    <div class="row">
      <div class="col-sm-4">
        <label for="exampleInputPassword1">e-mail</label>
        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="mail">
      </div>
      <div class="col-sm-4">
        <label for="exampleInputPassword1">nom</label>
        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Mathias">
      </div>
      <div class="col-sm-4">
        <label for="exampleInputPassword1">fonction</label>
        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="gestion">
      </div>
    </div>
  </div>

  <button type="submit" class="btn btn-primary">Commander mon kit</button>
</form>
</div>
