<div class="row">
  <div class="kit fond">
    <h3 class="text-center margin-bottom-50"><strong>Ce que comprend le kitt</strong></h3>
    <div class="photo-kit col-sm-6 text-center">
       <%= image_tag "kitt.jpeg", alt: "logo", class: "image-kit" %>
    </div>
    <div class="explication-kit col-sm-6">
      <div class="text-center">
        <h4>
          <strong>
          Votre Kit Cautioneo-L’Adresse
          </strong>
        </h4>
      </div>
      <br>
      <ul>
        <li>
          <p>Contrat Apporteurs : votre contrat Partenaires signé électroniquement</p>
        </li>
        <li>
          <p>Affiches, Dépliants, Goodies : les outils indispensables pour informer vos clients Locataires/Propriétaires</p>
        </li>
        <li>
          <p>Espace Location : accès gratuit pour l’ensemble de votre équipe aux tutoriels, vidéos produits, …</p>
        </li>
      </ul>
      <br><br>
      <div class="text-center">
      <a href="https://kitt.lewagon.com" target="_blank" class="button-banner">
        Commander mon kit Guy Hoquet
      </a>
      </div>
    </div>
  </div>
</div>
