<div class="row  margin-top-50 margin-bottom-50">
  <div class="kit fond">

    <div class="photo-kit col-sm-6 text-center">
       <%= image_tag "cutioneohipster.jpg", alt: "logo", class: "image-kit" %>
    </div>
    <div class="explication-kit col-sm-5 col-offset-sm-1">
      <div class="text-center">
        <h3>
          Votre
          <strong class="surlignement">
          Kit L’Adresse</strong>
        </h3>
      </div>
      <br>
      <ul>
        <li>
          <h4>Contrat Partenaire : signé électroniquement</h4><br>
        </li>
        <li>
          <h4>Affiches & Dépliants : les outils indispensables pour informer vos clients Locataires/Propriétaires</h4>
          <br>
        </li>
        <li>
          <h4>Espace Location : accès gratuit pour l’ensemble de votre équipe aux tutoriels, vidéos produits, …</h4>
          <br>
        </li>
      </ul>
      <br><br>
      <div class="text-center">
      <a href="#formulaireancre" target="_blank" class="button-banner">
        Commander mon Kit L'Adresse
      </a>
      </div>
    </div>
  </div>
</div>
