
<div class="row">
  <section class="customer-logos slider">
    <div class="slide">
      <h3 class="titre-ville">L'Adresse Aussonne</h3>
    </div>
    <div class="slide">
      <h3 class="titre-ville">L'Adresse Chatenay Malabry</h3>
    </div>
    <div class="slide">
      <h3 class="titre-ville">L'Adresse Marguerittes</h3>
    </div>
    <div class="slide">
      <h3 class="titre-ville">L'Adresse Montreuil</h3>
    </div>
    <div class="slide">
      <h3 class="titre-ville">L'Adresse Sud Sainte Victoire</h3>
    </div>
    <div class="slide">
      <h3 class="titre-ville">L'Adresse Toulouse</h3>
    </div>
    <div class="slide">
      <h3 class="titre-ville">L'Adresse Castanet</h3>
    </div>
    <div class="slide">
      <h3 class="titre-ville">L'Adresse Vitry</h3>
    </div>
  </section>
</div>

<!--
  <section class="customer-logos slider">
    <div class="slide"><img src="images/image1.png"></div>
    <div class="slide"><img src="images/image2.png"></div>
    <div class="slide"><img src="images/image3.png"></div>
    <div class="slide"><img src="images/image4.png"></div>
    <div class="slide"><img src="images/image5.png"></div>
    <div class="slide"><img src="images/image6.png"></div>
    <div class="slide"><img src="images/image7.png"></div>
    <div class="slide"><img src="images/image8.png"></div>
  </section>
</div> -->



<!-- <div class="slider">
  <div class="slide-track">
    <div class="slide">
      <h3 class="titre-ville">L'Adresse Aussonne</h3>
    </div>
    <div class="slide">
      <h3 class="titre-ville">L'Adresse Chatenay Malabry</h3>
    </div>
    <div class="slide">
      <h3 class="titre-ville">L'Adresse Marguerittes</h3>
    </div>
    <div class="slide">
      <h3 class="titre-ville">L'Adresse Montreuil</h3>
    </div>
    <div class="slide">
      <h3 class="titre-ville">L'Adresse Sud Sainte Victoire</h3>
    </div>
    <div class="slide">
      <h3 class="titre-ville">L'Adresse Toulouse</h3>
    </div>
    <div class="slide">
      <h3 class="titre-ville">L'Adresse Castanet</h3>
    </div>
    <div class="slide">
      <h3 class="titre-ville">L'Adresse Vitry</h3>
    </div>
  </div>
</div> -->
