<div class="slider">
  <div class="slide-track">
    <div class="slide">
      <h1 class="titre-ville">L'adresse Lille</h1>
    </div>
    <div class="slide">
      <h1 class="titre-ville">L'adresse Lille</h1>
    </div>
    <div class="slide">
      <h1 class="titre-ville">L'adresse Lille</h1>
    </div>
    <div class="slide">
      <h1 class="titre-ville">L'Adresse Valenciennes</h1>
    </div>
    <div class="slide">
      <h1 class="titre-ville">L'Adresse Lille</h1>
    </div>
    <div class="slide">
      <h1 class="titre-ville">L'adresse Lille</h1>
    </div>
    <div class="slide">
      <h1 class="titre-ville">L'adresse Lille</h1>
    </div>
    <div class="slide">
      <h1 class="titre-ville">L'adresse Lille</h1>
    </div>
    <div class="slide">
      <h1 class="titre-ville">L'adresse Lille</h1>
    </div>
    <div class="slide">
      <h1 class="titre-ville">L'adresse Lille</h1>
    </div>
    <div class="slide">
      <h1 class="titre-ville">L'adresse Lille</h1>
    </div>
    <div class="slide">
      <h1 class="titre-ville">L'adresse Lille</h1>
    </div>
    <div class="slide">
      <h1 class="titre-ville">L'adresse Lille</h1>
    </div>
  </div>
</div>
