<div class="slider">
  <div class="slide-track">
    <div class="slide">
      <h1 class="titre-ville">L'adresse Aussonne</h1>
    </div>
    <div class="slide">
      <h1 class="titre-ville">L'adresse Chatenay Malabry</h1>
    </div>
    <div class="slide">
      <h1 class="titre-ville">L'adresse Marguerittes</h1>
    </div>
    <div class="slide">
      <h1 class="titre-ville">L'Adresse Montreuil</h1>
    </div>
    <div class="slide">
      <h1 class="titre-ville">L'Adresse Sud Sainte Victoire</h1>
    </div>
    <div class="slide">
      <h1 class="titre-ville">L'Adresse Toulouse</h1>
    </div>
    <div class="slide">
      <h1 class="titre-ville">L'Adresse Castanet</h1>
    </div>
    <div class="slide">
      <h1 class="titre-ville">L'Adresse Vitry</h1>
    </div>
  </div>
</div>
