<div class="container margin fond">
  <div class="row margin-bottom-50">
    <div class="avatar col-sm-6">
      <%= image_tag "image9.jpeg", alt: "logo", class: "président"%>
    </div>
    <div class="testimonial col-sm-5 col-offset-sm-1">
      <div class="testimonial-quote italic">
        <h3>« Nous sommes très fiers de lancer ce nouveau partenariat avec Cautioneo. <br> En positionnant une nouvelle fois nos clients au centre de nos démarches, nous avons à cœur de faciliter le droit au logement. »</h3>
      </div>
      <br>
      <div class="testionial-author">
        <p>Brice Cardi - PDG</p>
      </div>
      <br>
      <div class="testimonial-source">
        <p class="souligner">Business Immo – 26/11/2018</p>
      </div>
    </div>
  </div>
</div>
