<div class="container margin fond">
  <div class="row">
    <h3 class="text-center margin-bottom-50"><strong>Le mot du président</strong></h3>
    <div class="avatar col-sm-4">
      <%= image_tag "image9.jpeg", alt: "logo", class: "président"%>
    </div>
    <div class="testimonial col-sm-8">
      <div class="testimonial-quote ">
        <h4>«Nous sommes très fiers de lancer ce nouveau partenariat avec Cautioneo. En positionnant une nouvelle fois nos clients au centre de nos démarches, nous avons à cœur de faciliter le droit au logement. D’autant plus que le développement de dispositifs innovants, tel que Cautioneo est complétement en phase avec l’ADN de notre réseau !»</h4>
      </div>
      <div class="testionial-author">
        <p>Brice Cardi - PDG</p>
      </div>
      <div class="testimonial-source">
        <p>Business Immo – 26/11/2018</p>
      </div>
    </div>
    </div>
</div>
