.logo-ccm {
 padding-bottom: 10px;
 padding-top: 10px;
 text-align: center;
}

.margin-0 {
  margin-left: 0!important;
}

.margin-bottom-50 {
  margin-bottom: 50px;
}

.margin-top-50 {
  margin-top: 50px;
}

.margin-top-70 {
  margin-top: 70px;
}

.margin-bottom-20 {
  margin-bottom: 20px;
}

.padding-bottom-20 {
  padding-bottom: 20px;
}

.card-ccm {
  border: 1px solid tranparent;
  border-radius: 5px;
  margin-bottom: 10px;
  box-shadow: 0 0 15px $ladresse;
  min-height: 210px!important;
}


.police-ccm {
  font-size: 16px;
}

.surlignement {
  background-color: yellow;
}


// #93a5d8
