.président {
  height: 300px;
  text-align: center;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.testionial-author {
  font-weight: 800;
  color: #FF5352;
}

.fond {
  margin-top: 50px;
  margin-bottom: 50px;
  width: 100%;
}

.avatar {
  text-align: center;
  vertical-align: middle;
}

.testimonial {
  margin-top: 75px;
}

