---
title: Le Wagon - Middleman
---

<%= partial "layouts/banner" %>

<%= partial "layouts/testimonial" %>


<%= partial "layouts/ccm" %>

<h3 class="text-center margin-top-50"><strong >Ils parlent de Cautioneo</strong></h3>
  <div class="carroussel fond">

    <img src="images/actu-investissement.png" alt="" height="120px" style="border-radius: 50%; background: white; box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23); width: 120px;">
    <img src="images/businessimmo.jpg" alt="" height="120px" style="border-radius: 50%; box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23); width: 120px;">
    <img src="images/destination-immo.jpg" alt="" height="120px" style="border-radius: 50%; box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23); width: 120px;">
    <img src="images/immomatin.png" alt="" height="120px" style="border-radius: 50%; background: white; box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23); width: 120px;">
    <img src="images/logement-etudiant.png" alt="" height="120px" style="border-radius: 50%; background: white; box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23); width: 120px;">
    <img src="images/Mon-Immeuble.jpg" alt="" height="120px" style="border-radius: 50%; box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23); width: 120px;">
    <img src="images/radio-immo.png" alt="" height="120px" style="border-radius: 50%; box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23); width: 120px;">
  </div>

<%= partial "layouts/form" %>


  </div>
</div>
